<a href="https://github.com/{{full_name}}">
  <div class="repo_avatar_box" style="float:left;width;120px">
    <img alt="" src='{{repos.owner.avatar_url}}' style='border-radius:50%;max-width:99%'></img>

  </div>
  <div class="repo-title" style='text-align:left'>
    <div style='position:relative'>
      <h2>{{repos.name}}</h2>
      <div style='color: #eeddaa;color: darkgreen;font-size: small;margin-top: -30px;font-weight: normal;text-transform: lowercase;padding-left: 3px;margin-top: -35px;'>{{repos.owner.type}}</div>
    </div>
    <div style='margin:1em;color:#333;font-size:normal;font-weight:normal'>{{repos.description}}</div>
    <div class="">


      <div class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> {{repos.stargazers_count}} Stars
      </div>
      <div class="btn btn-default btn-lg">
        <a href="{{repos.stargazers_url}}"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> {{repos.watchers_count}} Watchers</a>
      </div>

      <div class="btn btn-default btn-lg">
        <a href="{{repos.issues_url}}"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>  {{repos.open_issues_count}} Issues</a>
      </div>
    </div>
    <div class="">
      <Date>Created {{repos.created_at}}</Date>
    </div>
    <hr>
    <h2>Contributions</h2>

    <ul class="list-group">
      {{#each contributors}}
        <li class="list-group-item">
          <div class="float-clear" style='margin:0px;padding:0px'>
            <div class="float-left">
              <a href='{{this.url}}'>
              <div class="repo_avatar_box" style="float:left;width;120px">
                <img alt="" src='{{this.avatar_url}}' style='max-width:99%'></img>
              </div>
              <span style='position:absolute;top:0%;margin:1em'>
              {{this.login}}
              <label style='font-size:12px;color:#333;font-weight:normal;display:block;padding-top:1em'>{{this.contributions}} Contributions</label>
              </span>

            </a>
            </div>
          </div>

        </li>
      {{/each}}
    </ul>


  </div>
</a>
